<div class="contenedor-nav">
    <div class="desplegar-barra position-absolute">
      <i class="fas fa-angle-double-right btn-desplagar-barra" (click)="mostrarNav(navside,icon)"#icon></i>
    </div>
    <nav class="">
      <ul
        class="ul__nav list-unstyled decoration-none" #navside
      >
        <li>
          <a href="#home" class="borde-abajo"> Home</a>
        </li>
        <li>
          <a href="#aboutme" class="borde-abajo"> About Me</a>
        </li>
        <li>
          <a href="#portfolio" class="borde-abajo"> Portfolio</a>
        </li>
        <li>
          <a href="#contact" class="borde-abajo"> Contact</a>
        </li>
      </ul>
    </nav>
  </div>