/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.contenedor-nav {
  position: fixed;
  width: 100%;
  min-height: 50px;
  z-index: 30;
}

.ul__nav {
  font-family: "Nunito";
  font-weight: 200;
  font-size: 1.5em;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ul__nav li {
  padding: 0 30px;
}

.ul__nav li a {
  text-decoration: none;
  color: white;
}

.borde-abajo::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.borde-abajo:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

/*TERMINA NAV*/
/*TERMINA NAV*/
/*TERMINA NAV*/
/*TERMINA NAV*/
/*TERMINA NAV*/
/*TERMINA NAV*/
/*TERMINA NAV*/
.contenedor-main {
  width: 400vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6a2e5e;
  background: linear-gradient(311deg, #6a2e5e 0%, #d94436 25%, #ef7632 50%, #d94436 75%, #6a2e5e 100%);
  z-index: 50;
}

.seccion1 .contenedor-nombre {
  z-index: 20;
}

.seccion1 .contenedor-nombre h1 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 5em;
  color: #fff;
}

.seccion1 .contenedor-nombre h5 {
  font-family: "Nunito";
  font-size: 2em;
  font-weight: 200;
  color: #fff;
}

.seccion1 img {
  width: 50%;
}

.btn-desplagar-barra {
  display: none;
  font-size: 60px;
  color: white;
  z-index: 150;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

/**MEDIA QUERIES*/
@media (max-width: 576px) {
  .contenedor-home-row .contenedor-nombre h1 {
    font-size: 2.5em !important;
  }
  .contenedor-home-row .contenedor-nombre h5 {
    font-size: 1.5em !important;
  }
  .contenedor-home-row .contenedor-logo img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .contenedor-main {
    display: block;
    width: 100vw;
    height: 400vh;
    background: #6a2e5e;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(2%, #6a2e5e), color-stop(25%, #d94436), color-stop(50%, #ef7632), color-stop(75%, #d94436), to(#6a2e5e));
    background: linear-gradient(0deg, #6a2e5e 2%, #d94436 25%, #ef7632 50%, #d94436 75%, #6a2e5e 100%);
  }
  .contenedor-home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contenedor-nombre h1 {
    font-size: 4em !important;
  }
  .contenedor-nombre h5 {
    font-size: 1.6em !important;
  }
  .btn-desplagar-barra {
    display: block;
  }
  .ul__nav {
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(106, 46, 94, 0.8);
    -ms-touch-action: none;
        touch-action: none;
  }
  .ul__nav li {
    padding: 30px 0;
    font-size: 1em;
  }
}

@media (max-width: 994px) {
  .contenedor-nombre {
    -webkit-transform: translateY(60px) !important;
            transform: translateY(60px) !important;
  }
  .contenedor-nombre h1 {
    font-size: 4em !important;
  }
  .contenedor-nombre h5 {
    font-size: 1.8em !important;
  }
  .contenedor-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) and (min-width: 994px) {
  .contenedor-nombre {
    -webkit-transform: translateY(60px) !important;
            transform: translateY(60px) !important;
  }
  .contenedor-nombre h1 {
    font-size: 4em !important;
  }
  .contenedor-nombre h5 {
    font-size: 1.6em !important;
  }
  .contenedor-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contenedor-logo img {
    width: 42%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .contenedor-nombre h1 {
    font-size: 4.4em !important;
  }
  .contenedor-nombre h5 {
    font-size: 1.7em !important;
  }
}

@media (min-width: 1300px) {
  .contenedor-nombre {
    -webkit-transform: translateX(40px) !important;
            transform: translateX(40px) !important;
  }
}

@media (min-width: 1400px) {
  .contenedor-nombre {
    -webkit-transform: translateX(80px) !important;
            transform: translateX(80px) !important;
  }
}

/*EFECTOS PARA NAVEGADOR*/
.mostrar-ocultar-barra {
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.rotar-flecha {
  -webkit-animation: rotar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: rotar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.fijar-flecha {
  -webkit-animation: fijar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: fijar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@-webkit-keyframes fijar {
  0% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes fijar {
  0% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@-webkit-keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

@keyframes rotar {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
}

/*EFECTOS PARA NAVEGADOR*/
/*# sourceMappingURL=styles.css.map */